.section{
    padding: 2rem;
}

.section h1{
    text-align: center;
}
.shortdesc{
    margin-left: 515px;
}
.description{
    margin-left: 515px;
}

.primary-link{
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: white;
    margin-inline-start: 505px ;
}
.secondary-link{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-inline-start: 20px;
}